* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: var(--background-color);
}

::selection {
    background-color: hsl(var(--accent-color-hsl) / .2);
}

/***************************************/
/************** Grid setup *************/

.container {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 25vw 1fr;
    grid-template-rows: 10vh 1fr;

    justify-items: center;
    align-items: top;

    background-color: none;
}

.container-child {
    width: 100%;

    grid-column: 2;
    grid-row: 2;

    text-align: center;

    background-color: none;
}

@media only screen and (max-width: 80rem) {
    .container {
        grid-template-columns: 1fr 50vw 1fr;
    }
}

@media only screen and (max-width: 40rem) {
    .container {
        grid-template-columns: 1fr 80vw 1fr;
    }
}

/***************************************/

input[type=text], input[type=password] {
    background: none;

    height: 3rem;

    border: var(--border-width) solid hsl(var(--foreground-color-hsl) / .25);
    border-radius: var(--border-radius);

    outline: 0.25rem solid transparent;

    color: var(--foreground-color);

    padding-left: var(--spacing-m);
    padding-right: var(--spacing-m);

    font-size: var(--font-size);
    font-family: "Railway Regular";
}

input[type=text]:hover, input[type=password]:hover {
    border-color: hsl(var(--foreground-color-hsl) / .5);
}

input[type=text]:focus, input[type=password]:focus {
    border-color: var(--background-color);
    outline-color: var(--accent-color);
}

.title {
    width: 100%;

    color: var(--foreground-color);
    font-size: var(--font-size-title);
    font-family: "Railway Regular";

    cursor: default;
}

.login-name-input, .login-password-input {
    width: 100%;
}

.login-name-input {
    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-m);
}

.site-name-input {
    width: 100%;

    margin-top: var(--spacing-l);
    margin-bottom: var(--spacing-m);
}

/***************************************/
/************ Parameters row ***********/

.parameters-row {
    width: 100%;
    margin-bottom: var(--spacing-m);
}

.parameters-row, .parameter-input {
    height: 3rem;
}

.parameters-row > select {
    cursor: pointer;
    text-align: center;
}

.parameter-input {
    background: none;

    color: hsl(var(--foreground-color-hsl) / .25);
    text-align: center;
    font-size: var(--font-size);
    font-family: "Railway Regular";

    border-width: var(--border-width);
    border-style: solid;
    border-color: hsl(var(--foreground-color-hsl) / .25);

    outline: 0.25rem solid transparent;
}

.parameter-input:hover {
    border-color: hsl(var(--foreground-color-hsl) / .5);
}

.parameter-input:focus {
    border-color: var(--background-color);
    outline-color: var(--accent-color);
}

.site-counter-input {
    width: 20%;

    border-right: none;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.algorithm-version-input {
    width: 20%;

    border-left: none;
    border-right: none;
}

.password-template-input {
    width: 60%;

    border-left: none;
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

/***************************************/

/***************************************/
/************ Password row *************/

.generated-password-row {
    width: 100%;

    display: flex;
    align-items: center;
}

.generated-password-input {
    width: 90%;

    /* FIX ME: Remove the ugly `!important` */
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;

    font-family: "Jura Regular" !important;

    cursor: pointer;
}

.password-visibility-btn {
    width: 10%;
    height: 3rem;

    background: none;
    border: var(--border-width) solid hsl(var(--foreground-color-hsl) / .25);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-left: none;

    cursor: pointer;

    outline: 0.25rem solid transparent;
}

.password-visibility-btn:focus {
    outline-color: var(--accent-color);
}

.password-visibility-btn > svg {
    height: 1.7rem;
    fill: hsl(var(--foreground-color-hsl) / .25);
}

.password-visibility-btn:hover {
    border-color: hsl(var(--foreground-color-hsl) / .5)
}

.password-visibility-btn > svg:hover {
    fill: hsl(var(--foreground-color-hsl) / .5)
}

.password-visibility-btn > svg > g > g[data-name="eye-off"] {
    opacity: 100%;
}

.password-visibility-btn > svg > g > g[data-name="eye-off"] {
    opacity: 0%;
}

/***************************************/
