:root {
    --black-hsl: 0 0% 11%; /* #1C1C1C */
    --black: hsl(var(--black-hsl));
    --orange-hsl: 30 100% 50%; /* #FD7E00 */
    --orange: hsl(var(--orange-hsl));
    --white-hsl: 0 0% 95%; /* #F1F1F1 */
    --white: hsl(var(--white-hsl));

    --font-size: 1rem;
    --font-size-title: 1.5rem;

    --spacing-xs: .25rem;
    --spacing-s: 0.5rem;
    --spacing-m: 1rem;
    --spacing-l: 2rem;
    --spacing-xl: 4rem;

    --border-width: .125rem;
    --border-radius: .5rem;
}

@font-face {
    font-family: "Railway Regular";
    src: url("../fonts/Raleway-Regular.woff2");
}

@font-face {
    font-family: "Jura Regular";
    src: url("../fonts/Jura-VariableFont_wght.ttf");
    font-style: normal;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: var(--black);
        --background-color-hsl: var(--black-hsl);
        --foreground-color: var(--white);
        --foreground-color-hsl: var(--white-hsl);
        --accent-color: var(--orange);
        --accent-color-hsl: var(--orange-hsl);
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background-color: var(--white);
        --background-color-hsl: var(--white-hsl);
        --foreground-color: var(--black);
        --foreground-color-hsl: var(--black-hsl);
        --accent-color: var(--orange);
        --accent-color-hsl: var(--orange-hsl);
    }
}
